Repository PredatorFeesh/WatchParty, pull requests merged in 2020-05, with the labels that each got.

#54 WP-86-custom-movie-methods
  WatchParty/backend/models/movie.js
Labels: backend

#75 Wp 117 gaction bug fixes
  .github/workflows/backend-to-deploy.yml
  .github/workflows/backend-to-test.yml
  .github/workflows/client-to-deploy.yml
  .github/workflows/client-to-test.yml
  .github/workflows/run_tests.yml
  WatchParty/backend/package.json
Labels: bug, devops

#77 WP-87 WP-130 adjust sublist schema and add custom method
  WatchParty/backend/models/sublist.js
  WatchParty/backend/seeders/20200427023805-movie-sublist.js
Labels: backend

#73 wp-94 / wp-128 - changed path and added chromedriver
  .gitignore
  WatchParty/client/selenium/README.txt
  WatchParty/client/selenium/requirements.txt
  WatchParty/client/selenium/setup.py
  WatchParty/client/selenium/tests/config/__init__.py
  WatchParty/client/selenium/tests/config/config.py
  WatchParty/client/selenium/tests/movieResultTest.py
Labels: selenium

#85 wp-115-movie-page-support
  WatchParty/client/src/components/MoviePage/MoviePage.css
  WatchParty/client/src/components/MoviePage/MoviePage.jsx
Labels: frontend

#83 WP-113 Login and Register Components
  WatchParty/client/src/App.jsx
  WatchParty/client/src/components/ActivityFeed/ActivityFeed.css
  WatchParty/client/src/components/ActivityFeed/ActivityFeed.jsx
  WatchParty/client/src/components/Header/Header.jsx
  WatchParty/client/src/components/Header/__test__/Header.test.jsx
  WatchParty/client/src/components/LandingPage/LandingPage.jsx
  WatchParty/client/src/components/Login/Login.css
  WatchParty/client/src/components/Login/Login.jsx
  WatchParty/client/src/components/Logout/Logout.css
  WatchParty/client/src/components/Logout/Logout.jsx
  WatchParty/client/src/components/Profile/Profile.css
  WatchParty/client/src/components/Profile/Profile.jsx
  WatchParty/client/src/components/Register/Register.jsx
Labels: frontend

#90 wp-112 added test for login
  WatchParty/client/selenium/tests/loginTest.py
Labels: frontend, selenium

#84 Wp 131 api backend pingpong heartbeat tests
  WatchParty/backend/app.js
  WatchParty/backend/router.js
  WatchParty/backend/test/endpoints.test.js
  package-lock.json
Labels: backend

#91 WP-75 User Profile Page
  WatchParty/client/public/userDefault.png
  WatchParty/client/src/components/MoviePage/MoviePage.jsx
  WatchParty/client/src/components/Profile/Profile.css
  WatchParty/client/src/components/Profile/Profile.jsx
  WatchParty/client/src/components/SearchResults/SearchResults.jsx
Labels: frontend

#89 wp-116 new movie page test and using herokuapp
  WatchParty/client/selenium/tests/moviePageTest.py
  WatchParty/client/selenium/tests/movieResultTest.py
  package-lock.json
Labels: frontend, selenium
